<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518025578093-sala1msskf40ufbi63rjqj0000muafsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518025578093-sala1msskf40ufbi63rjqj0000muafsv</string>
	<key>API_KEY</key>
	<string>AIzaSyA3JTPYHRBUt4Wa_eDf6ubK5Ai-HI84KcU</string>
	<key>GCM_SENDER_ID</key>
	<string>518025578093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iflair.cannabisapp</string>
	<key>PROJECT_ID</key>
	<string>cannabis-club-system</string>
	<key>STORAGE_BUCKET</key>
	<string>cannabis-club-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518025578093:ios:bfd8cda8c351cb8c</string>
	<key>DATABASE_URL</key>
	<string>https://cannabis-club-system.firebaseio.com</string>
</dict>
</plist>